nav{
    text-align: center;
}
.pagination{
    display: inline-block;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

li .nav-item{

}

a {
    text-decoration: none;
    color: white;
}